/* Footer */

.footer {
    display: flex;
    background-color: #000C4F;
    border-radius: 5px 5px 0 0;
    margin-top: 50px;
    justify-content: space-around;
    flex-wrap: wrap;
    /* align-items: center; */
}

.footer .logo_icon{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer img {
    width: 150px;
    height: 150px;
    margin: auto 0;
}

.footer h3 {
    color: white;
    font-family: sans-serif;
    text-transform: uppercase;
    text-align: center;
}

.footer li {
    list-style: none;
    line-height: 25px;
    text-align: center;
    margin-top: 8px;
}

.footer .liens a, footer .info a {
    color: white;
    font-family: sans-serif;
}


.footer .wrapper {
    display: inline-flex;
    list-style: none;
    justify-content: center;
    padding: 0;
}

.footer .wrapper .icon {
    position: relative;
    background: #ffffff;
    border-radius: 50%;
    padding: 15px;
    margin: 10px;
    width: 40px;
    height: 40px;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.footer .wrapper .icon .link_facebok{
    color: black;
}

.footer .icon.facebook:hover .link_facebok {
    color: white;
}

.footer .wrapper .tooltip {
    position: absolute;
    top: 0;
    font-size: 14px;
    background: #ffffff;
    color: #ffffff;
    font-family: sans-serif;
    padding: 5px 8px;
    border-radius: 5px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.footer .wrapper .tooltip::before {
    position: absolute;
    content: "";
    height: 8px;
    width: 8px;
    background: #ffffff;
    bottom: -3px;
    left: 50%;
    transform: translate(-50%) rotate(45deg);
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.footer .wrapper .icon:hover .tooltip {
    top: -45px;
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.footer .wrapper .icon:hover span,
.footer .wrapper .icon:hover .tooltip {
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}

.footer .wrapper .facebook:hover,
.footer .wrapper .facebook:hover .tooltip,
.footer .wrapper .facebook:hover .tooltip::before {
    background: #1877F2;
    color: #ffffff;
    font-family: sans-serif;
}

.footer .wrapper .twitter:hover,
.footer .wrapper .twitter:hover .tooltip,
.footer .wrapper .twitter:hover .tooltip::before {
    background: #1DA1F2;
    color: #ffffff;
    font-family: sans-serif;
}

.footer .wrapper .instagram:hover,
.footer .wrapper .instagram:hover .tooltip,
.footer .wrapper .instagram:hover .tooltip::before {
    background: #E4405F;
    color: #ffffff;
    font-family: sans-serif;
}

.footer .wrapper .tiktok:hover,
.footer .wrapper .tiktok:hover .tooltip,
.footer .wrapper .tiktok:hover .tooltip::before {
    background: #333333;
    color: #ffffff;
    font-family: sans-serif;
}

.footer .wrapper .youtube:hover,
.footer .wrapper .youtube:hover .tooltip,
.footer .wrapper .youtube:hover .tooltip::before {
    background: #CD201F;
    color: #ffffff;
    font-family: sans-serif;
}
